
	    
	    



/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  background-color : #00001a ;
	
	    border: 0;
	 
    }



	
	.responsive {
     width: 100%;
    height: auto;
}
	 
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: white;
      padding: 30px;
    }

	
#contact { 
 background-color: #00001a ;
color:white; 
}



.header {
	
	
	
	background-color : #060613 ;
	
}


@media only screen and (max-width: 600px) {
   .header {
        height: 100% ;
	width: 100% ;
    }
}

.container-fluid {
    position: relative;
    height: 100% ;
}


/* Style the button and place it in the middle of the container/image */
.btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #00001a ;
  color: white;
  
  padding: 12px 24px;
  
  cursor: pointer;
  border-radius: 5px;
	
	
}


.btn > a {
 
  text-decoration:none;
}

.btn > a:hover {
  background-color: white ;
  
  Color: #00001a ;
  border: 3px solid grey ;
  
}

 .header1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 
  color: white;
  
  padding: 12px 24px;
  
  cursor: pointer;
  border-radius: 5px;
}

 .header2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  color: white;
  padding: 12px 24px;
  
  cursor: pointer;
  border-radius: 5px;
}

  
